.center{
    text-align: center;
}

body {
    background-image: linear-gradient(to right, white, darkslategrey);
}

hr {
    width: 100%;
    height: 23px;
    background-image: linear-gradient(to left, darkslategrey, white, darkslategrey);
    margin: 0;
}

.header {
    background-image: linear-gradient(to right, darkslategrey, white, darkslategrey);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
